<ion-view class="main" view-title="Main" hide-nav-bar="true">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Social Login - Jun 2016</h1>
    </ion-header-bar>
    <ion-content>
        <div>
            <button class="button button-block button-assertive pivot-text surf-login-btn" 
                    id="btnGoogleLogin" ng-click="googleLogin()">
                Login With Google Plus
            </button>

            <button class="button button-block button-positive pivot-text" 
                    id="btnFbLogin" ng-click="facebookLogin()">
                Login With Facebook
            </button>
        </div>
    </ion-content>

</ion-view>